/*body{
    background-color: black;
    margin: 0;
}
.header{
    font-size: 26px;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.types{
    margin-top: 10vh;
    display: flex;

}
.TTRPG{
    margin-right: 80vw;
    margin-left: 10vw;
}
.WarGaming{
    margin-right: 10vh ;
}

.logo{
    width: 30vw;
    border: rgba(148, 5, 5, 0.925) solid;
    height: 10vh;
    border-right: none;
}
.about{
    width: 40vw;
    height: 10vh;
    border: rgba(128, 4, 4, 0.911) solid;
    border-right: none;
    border-left: none;
    text-align: right;
    vertical-align: middle;
    line-height: 13vh;
    text-decoration: none;
    
}
.info{
    width: 30vw;
    height: 10vh;
    border: rgba(128, 4, 4, 0.911) solid;
    border-left: none;
    text-align: center;
    vertical-align: middle;
    line-height: 13vh;
}
  a:link { 
    text-decoration: none; 
    color: white;
  } 
  a:visited { 
    text-decoration: none; 
    color: white;
  } 
  a:hover { 
    text-decoration: none; 
    color: white;
  } 
  a:active { 
    text-decoration: none; 
    color: white;
  }*/