.module {
    text-align: center;
    margin-top: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1000px;
    margin-inline: auto;
}

.module .topButtons {
    width: 100%;
}

.module .topButtons button {
    padding-block: 20px;
    width: 45%;
    border: 0;
    margin: 5px;
    border-radius: 20px;
    color: white;
    font-weight: 700;
    font-size: 18px;
    transition: 0.4s;
    cursor: pointer;
}

.module .topButtons .add {
    background-color: green;
}

.module .topButtons .add:hover {
    background-color: rgb(0, 161, 0);
    transform: scale(104%);
}

.module .topButtons .add:active {
    background-color: rgb(0, 161, 0);
    transform: scale(96%);
}

.module .topButtons .start {
    background-color: rgb(167, 167, 0);
}

.module .topButtons .start:hover {
    background-color: rgb(189, 189, 0);
    transform: scale(104%);
}

.module .topButtons .start:active {
    background-color: rgb(189, 189, 0);
    transform: scale(96%);
}

.module .topButtons .save {
    background-color: rgb(98, 145, 233);
}

.module .topButtons .save:hover {
    background-color: rgb(55, 124, 252);
    transform: scale(104%);
}

.module .topButtons .save:active {
    background-color: rgb(55, 124, 252);
    transform: scale(96%);
}

.module .topButtons .end {
    background-color: rgb(167, 0, 0);
}

.module .topButtons .end:hover {
    background-color: rgb(197, 0, 0);
    transform: scale(104%);
}

.module .topButtons .end:active {
    background-color: rgb(197, 0, 0);
    transform: scale(96%);
}

.none {
    display: none;
}

.module .lists {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.module .lists div {
    min-height: 60vh;
    width: 50%;
    background-color: rgb(173, 173, 173);
}

.module .lists .left {
    border-right: 3px solid rgb(144, 144, 144);
    padding-top: 20px;
}

.module .lists .right {
    padding-top: 20px;
}

.module .lists .left .runMeter {
    width: 100%;
    border-bottom: 3px solid rgb(144, 144, 144);
    min-height: 0;
    height: 60px;
}

.module h4 {
    margin-block: 0px 2px;
}

.module .lists .left .block {
    width: 100%;
}

.module .lists .left .block div {
    margin: 0;
    width: 100%;
    min-height: 0px;
}

.module .lists .left .block div a {
    margin: 0;
    display: inline-block;
    width: 20%;
}

.module .lists .left .block div input {
    margin: 0;
    width: 50%;
}

.module .lists .left .block input {
    width: 60%;
}

body .popupBG {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 2;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
}

body .popupBG .popup {
    display: inline-block;
    width: 500px;
    background-color: gray;
    padding-block: 20px 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30vh;
    border-radius: 30px;
}

body .popupBG .popup a {
    margin: 0;
    display: inline-block;
    width: 20%;
}

body .popupBG .popup div input {
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 8px;
}

body .popupBG .popup div textarea {
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 8px;
    resize: none;
}

body .popupBG .popup .apply {
    padding-block: 20px;
    width: 70%;
    border: 0;
    margin: 5px;
    border-radius: 20px;
    color: white;
    background-color: green;
    font-weight: 700;
    font-size: 18px;
    transition: 0.4s;
    cursor: pointer;
}

body .popupBG .popup .apply:hover {
    background-color: rgb(0, 161, 0);
    transform: scale(104%);
}

body .popupBG .popup .apply:active {
    background-color: rgb(0, 161, 0);
    transform: scale(96%);
}

body .popupBG .popup .cancel {
    padding-block: 20px;
    width: 70%;
    border: 0;
    margin: 5px;
    border-radius: 20px;
    color: white;
    background-color: rgb(90, 90, 90);
    font-weight: 700;
    font-size: 18px;
    transition: 0.4s;
    cursor: pointer;
}

body .popupBG .popup .cancel:hover {
    background-color: rgb(107, 107, 107);
    transform: scale(104%);
}

body .popupBG .popup .cancel:active {
    background-color: rgb(107, 107, 107);
    transform: scale(96%);
}

.lower {
    font-size: 60px;
    font-family: DnD;
    margin-block: 20px;
    color: rgb(189, 160, 0);
    text-align: center;
    text-shadow: 2px 2px 6px black;
}