@font-face {
    font-family: DnD;
    src: url(./fonts/TrickOrTreats-rgj0O.ttf);
}
@font-face {
    font-family: DnD-Italic;
    src: url(./fonts/TrickOrTreatsItalic-BWxdV.ttf);
}

:root {
    --header-height: 100px;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.header {
    width: 100vw;
    background-color: rgb(97, 97, 97);
    display: flex;
    justify-content: space-between;
    height: var(--header-height);
    z-index: 1;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header .interactive {
    margin-block: auto;
    width: fit-content;
    display: flex;
    justify-content: space-around;
}

.header .interactive .info {
    width: 120px;
}

.header .interactive .info a button {
    background-color: rgb(70, 70, 70);
    padding: 15px;
    border-radius: 15px;
    color: white;
    border: 0;
    transition: 0.4s;
    cursor: pointer;
    width: 100px;
}

.header .interactive .info a button:hover {
    background-color: rgb(87, 87, 87);
    transform: scale(108%);
}

.header .interactive .info a button:active {
    transform: scale(90%);
}

.header .logo a img {
    height: var(--header-height);
    width: auto;
}

.logo_zdj {
    margin-left: 20px;
}

.cards {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    text-align: center;
}

.cards a {
    margin-inline: 10px;
}

.TTRPG-card, .WarGaming-card {
    background-color: rgb(141, 141, 141);
    padding-block: 50vh 20px;
    width: 40vw;
    color: white;
    font-weight: 700;
    font-size: 50px;
    border-radius: 15px;
}

.begin {
    font-size: 60px;
    font-family: DnD;
    margin-block: 50px;
    color: rgb(189, 160, 0);
    text-align: center;
    text-shadow: 2px 2px 6px black;
}

body {
    min-height: 100vh;
    position: relative;
    background-image: url('assets/indexBG.jpg');
    background-size: 100% auto;
    background-color: transparent;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(120, 120, 120, 0.8);
    z-index: -1;
}

.TTRPG-card, .WarGaming-card {
    background-position: 50%;
    background-size: cover;
    transition: 0.4s;
    box-shadow: 0px 2px 5px black;
}

.TTRPG-card {
    background-image: url("assets/TTRPG-BG.jpg");
}

.TTRPG-card:hover {
    transform: scale(102%);
    box-shadow: 0px 8px 10px black;
}

.TTRPG-card:active {
    transform: scale(98%);
    box-shadow: 0px 0px 4px black;
}

.WarGaming-card {
    background-image: url("assets/WarGaming-BG.webp");
}

.WarGaming-card:hover {
    transform: scale(102%);
    box-shadow: 0px 8px 10px black;
}

.WarGaming-card:active {
    transform: scale(98%);
    box-shadow: 0px 0px 4px black;
}

.burger {
    text-align: center;
}

.interactive .burger {
    width: 50px;
    margin-right: 20px;
    margin-block: auto;
}

.interactive .burger button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.panels {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.panels li a {
    height: 300px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-block: 15px;
    background-image: url("src/assets/PanelBG.jpg");
    background-size: cover;
    background-position-y: 50%;
    transition: 0.4s;
    box-shadow: 0px 2px 5px black;
    cursor: pointer;
}

.panels li a:hover {
    transform: scale(102%);
    box-shadow: 0px 5px 10px black;
}

.panels li a:active {
    transform: scale(100%);
    box-shadow: 0px 2px 5px black;
}

.panels li a img {
    height: 300px;
    width: auto;
}

.BurgerMenu {
    position: absolute;
    right: 0;
    top: var(--header-height);
    height: calc(100vh - var(--header-height) - 23px);
    background-color: rgb(97, 97, 97);
    padding: 20px 30px 0px 20px;
    margin: 0;
    border-top: 3px solid rgb(144, 144, 144);
    border-left: 3px solid rgb(144, 144, 144);
    transition: 0.4s;
}

.BurgerMenu_displayNone {
    translate: 100%;
}

.BurgerMenu a li {
    list-style: none;
    padding: 10px;
    border-bottom: 3px solid rgb(144, 144, 144);
    transition: 0.4s;
}

.BurgerMenu a li:hover {
    background-color: rgb(144, 144, 144);
}

.BurgerMenu a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.description {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 90%;
    margin-inline: auto;
}